*
{
	font-family : 'Roboto', Verdana ;
	
}
body
{

 ;
}

.auth 
{
	margin-top :14% ;
	margin-left : 37% ;
	text-align : center ;
	height : 440px ;
	background-color : #3f51b5 ;
	font-family : 'Roboto', Arial ;
	width : 440px ;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 5px 5px 5px 5px #656565;
	-webkit-box-shadow: 5px 5px 5px 5px #656565;
	-o-box-shadow: 5px 5px 5px 5px #656565;
	box-shadow: 5px 5px 5px 5px #656565;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.auth form
{
	padding-top : 100px;
}
.push-log
{
	padding-left : 112px ;
}
label
{
	font-size : 17px;
}
.push-pswd
{
	padding-left : 52px ;
}
.pushSpe
{
	padding-left : 112px ;
}
.auth input
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	
}

.auth input:focus
{
	 border:1px solid #F5C5C5;
}
.auth label
{
	color : #eeeeee ;
}
input{
    width : 450px ;
}
.auth h2
{
color : #fafafa ;
	padding-top : 15px ;
	letter-spacing : px ;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
.push-vert
{
	padding-top : 5px;
}
.button
 {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
color: #333;
background-color: #fff;
border-color: #ccc;
font-family :'Roboto' ;
border: 1px solid transparent;
border-radius: 4px;
margin-left : 36px ;
margin-top : 40px ;
}
*
{
	margin : 0;
	font-family : 'Roboto', Verdana ;	
}
header 
{
	display : inline-block ;
	 background-color :  #004d40 ; 
	 margin : 0 ;
	 width : 100% ;
	 height : 100px ;
	 color : #FFF ;
         font-family : Helvetica, 'Roboto' ;
	
}
header .logo
{
	float : left ;
	margin : 0 ;
	padding-right : 5%;
	padding-top : 2%;
	padding-left : 1% ;
        font-family : Helvetica, 'Roboto' ;
}
header .title-page
{
	padding-top : 2% ;
        font-family : Helvetica, 'Roboto' ;
}
header .title-page ul
{
	padding-right : 50px ;
	margin-top : -20px ;
}
header .title-page ul li
{
	display : inline ;
}
header .title-page a  
{
	float : right ;	
}

header .title-page  a
{
	text-decoration : none;
	color : #B4AF91
}
nav 
{
	background-color : #333333;
	width : 11% ;
	float : left ;
}
nav .nav-bar
{
height : 629px ;
}

nav .nav-bar ul
{
	list-style : none ;
        float : left ;
}
nav .nav-bar li
{
	line-height : 40px ;

}
nav .nav-bar li a
{
	text-decoration : none ;
	color : #B4AF91 ;
padding-left : 5px ;	
}
nav .nav-bar li a:hover
{
	color : #046380 ;
}
section .formulaire
{
	
	margin-left : 25% ;
	width : 50% ;
	padding-top : 15px ;
	line-height : 40px ;
	margin : auto ;
}
.main-title
{
	margin  : 5px  ;
	padding : 5px ;
	text-align :center ;

}
.input 
{
	padding-left : 2% ;

}
.nav-bar h3
{
 color : #FCFAE1 ;
 padding :  15px ;
}
footer 
{
	display : inline-block ;
	 background-color : #004d40 ; 
	 margin : 0 ;
	 width : 100% ;
	 height : 100px ;
	 color : #B4AF91 ;
         padding-top : 4%;
         padding-left: 3%;
}
.content-page
{
    margin: 50px ;
    margin-left : 35% ;
    line-height: 70px ;
}
.pushNum{
    margin : 30px ;
}
.pushName{
    margin-left : 61px ;
}
.pushFiliere{
    margin : 141px ;
}
.showClasse
{
    padding-top : 20px;
    padding-left : 25%;
}
.alert-message
{
   text-align : center ;
  text-decoration : bold ;
  font-size : 18px; 
    color : #FFF ;
    background-color :  #b71c1c ;
 
}
.showClasse table
{
    line-height:  40px ;
}
.showClasse table {
	margin:0px;padding:0px;
	width:80%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.showClasse table{
    border-collapse: collapse;
        border-spacing: 0;
	width:80%;
	height:65%;
	margin:0px;padding:0px;
}.showClasse table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.showClasse tabletable tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.showClasse table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.showClasse table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.showClasse table tr:hover td{
	background-color:#ffaaaa;
		

}
.showClasse table td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-weight:normal;
	color:#000000;
}.showClasse tabletr:last-child td{
	border-width:0px 1px 0px 0px;
}.showClasse table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.showClasse table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.showClasse table tr:first-child td{
		background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);

	background-color:#ff5656;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.showClasse tabletr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);

	background-color:#ff5656;
}
.showClasse table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.showClasse table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}